Source: gropes
Section: user/accessories
Priority: optional
Maintainer: Ville Tervo <ville.tervo@iki.fi>
Build-Depends: debhelper (>= 4.0.0), autotools-dev
Standards-Version: 3.6.1

Package: gropes
Architecture: any
Provides: gpsnav
Depends:
Description: Navigation application for Nokia tablets and pc
 Navigation application that uses MeriCD maps and shows your
 position if you have gps.

Package: gropes-doc
Architecture: all
Description: Documentation for gropes
 <insert long description, indented with spaces>
